@import "./scss/app-saas.scss";
@import "./scss/icons.scss";

html {
  background-color: #333;
}
.flex-basis-1 {
  flex-basis: 1px;
}

@mixin nw-gradient($direction) {
  opacity: 1;
  background-color: $body-bg-dark;
  background-image: linear-gradient($direction, #{$body-bg-dark}, #{darken(#17446e, 10%)});
}
.nw-bg-gradient-vertical {
  @include nw-gradient(to bottom);
}
.nw-bg-gradient-horizontal {
  @include nw-gradient(to left);
}

.visibility-hidden {
  visibility: hidden;
}

i.delete-wallet-button {
  opacity: .2;
  &:hover {
    opacity: 8;
  }
}

.confirm-delete-wallet-button {
  background-color: lighten($danger, 10%);
  &:hover {
    background-color: $danger !important;
  }
  &:active {
    background-color: $danger !important;
  }
}
